data/
genomes/
workdir/*/*/*.bam
workdir/alignments_herpesviruses/
workdir/alignment_herpesvirus/
workdir/alignment_human_total/
workdir/viral_only_total/
workdir/alignment_human/
workdir/viral_only/
logs/